<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>lo-alias</string>
    <key>StandardErrorPath</key>
    <string>/Users/voale/lo-alias-notify-stderr.log</string>
    <key>StandardOutPath</key>
    <string>/Users/voale/lo-alias-notify-stdout.log</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/sh</string>
      <string>-c</string>
      <string>/sbin/ifconfig lo0 alias 10.254.254.254</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>
